{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="{% static '/css/aos.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/css/boxicons.css' %}" rel="stylesheet">
    <link href="{% static '/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/swiper-bundle.min.css' %}" rel="stylesheet">

    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body>

<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    {% include 'app_send_mail/layouts/layout_header.html' %}


    {% block content %}

    {% endblock %}


    {% include 'app_send_mail/layouts/layout_footer.html' %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
  <script src="{% static '/js/aos.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/glightbox.min.js' %}"></script>
  <script src="{% static '/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/js/typed.umd.js' %}"></script>
  <script src="{% static '/js/noframework.waypoints.js' %}"></script>
  <script src="{% static '/js/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

<!--  <script async src='https://www.googletagmanager.com/gtag/js?id=G-P7JSYB1CSP'></script><script>if( window.self == window.top ) { window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-P7JSYB1CSP'); } </script>-->
<!--<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"7fe5637f08e4041f","token":"68c5ca450bae485a842ff76066d69420","version":"2023.8.0","si":100}' crossorigin="anonymous"></script>-->

</body>
</html>
