<!--<footer class="container pt-4 my-md-5 pt-md-5 border-top">-->
<!--    <div class="row">-->
<!--        <div class="col-12 col-md">-->
<!--            SkyStore-->
<!--            <small class="d-block mb-3 text-muted">&copy; 2023</small>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>Категории</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Рассылки</a></li>-->
<!--                <li><a class="text-muted" href="#">Телеграм боты</a></li>-->
<!--                <li><a class="text-muted" href="#">Полезные утилиты</a></li>-->
<!--                <li><a class="text-muted" href="#">Веб-приложения</a></li>-->
<!--                <li><a class="text-muted" href="#">Микросервисы</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>Дополнительно</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Мы пишем</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>О нас</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Контакты</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->


<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Моё портфолио</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
            Designed by <a href="https://bootstrapmade.com/">Bonyfacci</a>
        </div>
    </div>
</footer>
