{% extends 'app_send_mail/layouts/layout_base.html' %}


{% block title %}Подтверждение почты{% endblock %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center bg-body-primary">
    <h1 class="display-4">Подтверждение почты</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <div class="alert alert-danger">
                <h3 class="alert-heading">Ошибка!</h3>
                <p>Во время проверки вашей электронной почты произошла ошибка.
                    Пожалуйста, проверьте код подтверждения и попробуйте еще раз.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
