{% extends 'app_send_mail/layouts/layout_base.html' %}


{% block title %}Проверка почты{% endblock %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center bg-body-primary">
    <h1 class="display-4">Подтверждение почты</h1>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card mt-5">
            <div class="card-header">Подтверждение почты</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="verification_code">Введите код верификации:</label>
                        <input type="text" class="form-control" id="verification_code" name="verification_code"
                               required>
                    </div>
                    <button type="submit" class="btn btn-info mt-3">Подтвердить</button>
                </form>
            </div>
            <div class="card-footer">
                <p>Хорошего настроения!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
