{% extends 'app_send_mail/layouts/layout_base.html' %}

{% block title %}Новостные рассылки{% endblock %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Создание</h1>
    <p class="lead">это всегда прекрасно</p>
    <h1 class="h2">
        {% if request.user.is_staff %}
        Статус рассылки №{{ object.pk }}
        {% elif object %}
        Редактирование рассылки №{{ object.pk }}
        {% else %}
        Настройки рассылки
        {% endif %}
    </h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="card-body">
            <form method="post" class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="h2">
                                {% if request.user.is_staff %}
                                    Статус рассылки №{{ object.pk }}
                                {% elif object %}
                                    Редактирование рассылки №{{ object.pk }}
                                {% else %}
                                    Настройки рассылки
                                {% endif %}
                            </h1>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-success">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Добавить
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
