{% extends 'app_send_mail/layouts/layout_base.html' %}

{% block title %}Новостные рассылки{% endblock %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Новостные рассылки</h1>
    <p class="lead">Самые тёплые</p>
</div>

<div class="container marketing mt-5 text-center">
    <hr class="featurette-divider">

    <div class="row">

        <div class="col-md-4 d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bg-warning px-3 bi bi-send-check"
                 viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
            </svg>
        </div>

        <div class="col-md-8 px-5">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Создать рассылку</h4>
                </div>
                <div class="card-body">
                    <div class="h-15 w-full flex items-center justify-center">
                        <a href="{% url 'app_send_mail:newsletter_create' %}"
                           class="link-offset-2 link-underline link-underline-opacity-0 relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300"
                           style="text-decoration:none;">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative fw-bold font-monospace">Создать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div>
            <table class="table table-bordered border-dark table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">id</th>
                    <th class="text-center" scope="col">Время</th>
                    <th class="text-center" scope="col">Периодичность</th>
                    <th class="text-center" scope="col">Статус</th>
                    <th class="text-center" scope="col">Сообщение</th>
                    <th class="text-center" scope="col">Клиенты</th>
                    <th class="text-center" scope="col">Действия</th>
                </tr>
                </thead>
                {% if object_list %}
                <tbody>
                {% for object in object_list|dictsortreversed:"time" %}
                    {% include 'app_send_mail/layouts/newsletter_card.html' %}
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
