<!--    <link href="{% static '/first_version/css/aos.css' %}" rel="stylesheet">-->
<!--    <link href="{% static '/first_version/css/boxicons.css' %}" rel="stylesheet">-->
<!--    <link href="{% static '/first_version/css/boxicons.min.css' %}" rel="stylesheet">-->
<!--    <link href="{% static '/first_version/css/glightbox.min.css' %}" rel="stylesheet">-->
<!--    <link href="{% static '/first_version/css/swiper-bundle.min.css' %}" rel="stylesheet">-->

<!--    <link href="{% static '/first_version/css/my_style.css' %}" rel="stylesheet">-->

  <script src="/static/first_version/js/aos.js'"></script>
  <script src="/static/first_version/js/glightbox.min.js"></script>
  <script src="/static/first_version/js/isotope.pkgd.min.js"></script>
  <script src="/static/first_version/js/swiper-bundle.min.js"></script>
  <script src="/static/first_version/js/typed.umd.js"></script>
  <script src="/static/first_version/js/validate.js"></script>


<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Моё портфолио</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">Bonyfacci</a>
        </div>
    </div>
</footer>
